<div class="search-container">
    <input type="text" placeholder="Search" (keyup.enter)="searchHandler()" (keyup)="search(getValue($event))"
        (focus)="toggleSuggestionsDropdown(true)" (blur)="toggleSuggestionsDropdown(false)">

    <button (click)="searchHandler()">
        <img src="../../assets/searchIcon.svg" alt="Search Icon" width="16" height="16">
    </button>

    <!-- Suggestions dropdown -->
    <div *ngIf="showSuggestionDropdown && suggestionList.length > 0" class="suggestions-dropdown">
        <ul>
            <li *ngFor="let suggestion of suggestionList" (click)="searchHandler(suggestion)">
                {{ suggestion }}
            </li>
        </ul>
    </div>
</div>