.yt-container {
    display: flex;
    overflow-y:none;
    height: 100%;
}

.yt-sidebar-container {
    overflow-y: auto; /* Add a scrollbar for the sidebar */
    background-color: lightgray; /* Optional: Set a background color for the sidebar container */
}

.yt-video-container {
    flex-grow: 1;
    overflow-y: auto; /* Add a scrollbar for the video container */
    background-color: lightblue; /* Optional: Set a background color for the video container */
}