<aside class="youtube-sidebar" *ngIf="isCollapsed">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/trending">Trending</a></li>
      <li><a routerLink="/subscriptions">Subscriptions</a></li>
    </ul>
  </aside>