.youtube-sidebar {
  width: 150px;
  padding: 10px;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 2px;
  height: 100%;
  overflow-y: auto;
}

.youtube-sidebar ul {
  list-style: none;
  padding: 0;
}

.youtube-sidebar li {
  margin-bottom: 10px;
}

.youtube-sidebar a {
  text-decoration: none;
}

.youtube-sidebar a:hover {
  text-decoration: underline;
}
