<!-- <aside class="youtube-sidebar" *ngIf="isCollapsed">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/watch">Trending</a></li>
  </ul>

</aside> -->

<aside class="yt-sidebar" *ngIf="isCollapsed">
  <section class="sidebar-section">
    <a class="sidebar-item" routerLink="/"><img src="../../assets/home.svg" alt="Home Icon" width="24px"
        height="24px">Home</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/shorts.svg" alt="Shorts Icon" width="24px"
        height="24px">Shorts</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/subscriptions.svg" alt="Subscriptions Icon" width="24px"
        height="24px">Subscriptions</a>
  </section>

  <section class="sidebar-section">
    <a class="sidebar-item" routerLink="/"><img src="../../assets/you.svg" alt="Home Icon" width="24px" height="24px">You</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/history.svg" alt="History Icon" width="24px"
        height="24px">History</a>
  </section>

  <section class="sidebar-section">
    <div class="sidebar-title">Explore</div>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/trending.svg" alt="Trending Icon" width="24px"
        height="24px">Trending</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/music.svg" alt="Music Icon" width="24px"
        height="24px">Music</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/films.svg" alt="Film Icon" width="24px"
        height="24px">Films</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/live.svg" alt="Live Icon" width="24px"
        height="24px">Live</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/gaming.svg" alt="Gaming Icon" width="24px"
        height="24px">Gaming</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/news.svg" alt="News Icon" width="24px"
        height="24px">News</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/sport.svg" alt="Sport Icon" width="24px"
        height="24px">Sport</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/learning.svg" alt="Learning Icon" width="24px"
        height="24px">Learning</a>
  </section>

  <section class="sidebar-section">
    <a class="sidebar-item" routerLink="/"><img src="../../assets/setting.svg" alt="Setting Icon" width="24px"
        height="24px">Setting</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/report_history.svg" alt="Report History Icon" width="24px"
        height="24px">Report History</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/help.svg" alt="Help Icon" width="24px"
        height="24px">Help</a>
    <a class="sidebar-item" routerLink="/"><img src="../../assets/setting.svg" alt="Send Feedback Icon" width="24px"
        height="24px">Send Feedback</a>
  </section>
</aside>