.comment-header {
    display: flex;
    align-items: center;
}

.comment-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.comment-author-published {
    display: flex;
}

.comment-author {
    font-weight: bold;
}

.comment-published {
    padding-left: 5px
}

.comment-details {
    padding-left: 10px;
    margin-top: 10px;
}


.icon {
    margin-left: 5px;
    margin-right: 5px;
}

.replies-dropdown {
    display: block;
    color: #065fd4;
    cursor: pointer;
}

.nested-comment {
    margin-left: 3rem;

    .comment-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}